{% extends "rules/base_rules.html" %}
{% block title %}{% if is_edit %}Edit Global Rule{% else %}Add Global Rule{% endif %}{% endblock %}

{% block back_button %}
  <a href="{% url 'category_list' %}" class="btn">Back to Rules</a>
{% endblock %}


{% block content %}
<h2>{{ is_edit|yesno:"Edit Global Rule,Add Global Rule" }}</h2>

<form method="post">
  {% csrf_token %}
  {{ form.non_field_errors }}

  <label for="{{ form.rule_type.id_for_label }}">{{ form.rule_type.label }}</label>
  {{ form.rule_type }}
  {{ form.rule_type.errors }}

  <label for="{{ form.match_value.id_for_label }}">{{ form.match_value.label }}</label>
  {{ form.match_value }}
  {{ form.match_value.errors }}

  <label for="{{ form.adjustment.id_for_label }}">{{ form.adjustment.label }}</label>
  {{ form.adjustment }}
  {{ form.adjustment.errors }}

  <label for="{{ form.is_active.id_for_label }}">{{ form.is_active.label }}</label>
  {{ form.is_active }}
  {{ form.is_active.errors }}

  <div class="form-actions" style="margin-top:12px;">
    <button type="submit">{{ is_edit|yesno:"Update,Add" }}</button>
    <a href="{% url 'category_list' %}" class="btn">Cancel</a>
  </div>
</form>
{% endblock %}
