<div class="rw-page rw-page-cex">
  <h1 class="cex-title">CEX</h1>

  <div class="search-bar-row" id="searchBarRow">
    <div class="search-field">
      <label>Category</label>
      <select id="modalItemCategory"></select>
    </div>

    <div class="search-field">
      <label>Subcategory</label>
      <select id="modalItemSubcategory"></select>
    </div>

    <div class="search-field">
      <label>Model</label>
      <select id="modalItemModel"></select>
    </div>
  </div>

  <div class="add-item-container">
    <button class="add-item-button">ADD ITEM</button>
  </div>
</div>
